.card,
.feature,
.dashboard-box{
animation:fadeUp 1s ease;
}
@keyframes heroZoom{

0%{
background-size:110%;
}

100%{
background-size:125%;
}

}

@keyframes scrollImages{

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}
@keyframes zoomMap{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}
@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(40px);
}

100%{
opacity:1;
transform:translateY(0);
}

}